<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>systemtest index {configuration}</title>
		<meta name="description" content="systemtest index {configuration}" />
		<meta name="keywords" content="systemtest index {configuration}" />
	</head>
	<body>
		<script type='text/javascript'>
			<!-- 
var s_arraySystemTest = [
{unitTestList}
];

s_arraySystemTest.forEach(function(in_item)
{{ 
	document.write('<span><a href="' + in_item + '.htm">' + in_item + '<\/a><\/span><br\/>');
}});
document.write("<p> Done <\/p>");

			// -->
		</script>
	</body>
</html>
