<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>systemtest {name} {configuration}</title>
		<meta name="description" content="systemtest {name} {configuration}" />
		<meta name="keywords" content="systemtest {name} {configuration}" />
	</head>
	<body>
		<!-- content -->
		<canvas id="canvasId" width="800px" height="600px">
			This text is displayed if your browser does not support HTML5 Canvas.
		</canvas>
		<div id="divId" />

		<!-- script -->
{scriptInclude}
	</body>
</html>

